<app-volunteer-nav></app-volunteer-nav>
<div class="container">
    <h2 class="text-center">Add Resource</h2>
    <form [formGroup]="resource">
        <div class="row">
            <div class="col-md-6">
                <label>Resource Type</label>
                <select class="form-control" formControlName="resource_type">
                    <option value="Equipments">Equipments</option>
                    <option value="Vehicles">Vehicles</option>
                    <option value="Food">Food</option>
                    <option value="Others">Others</option>
                </select>
            
            </div>
            <div class="col-md-6">
                <label>Resource Name</label>
                <input type="text" class="form-control" formControlName="resource_name">
            </div>
            <div class="col-md-6">
                <label>Resource Quantity</label>
                <input type="number" class="form-control" formControlName="resource_quantity">
            </div>
        </div>
        <div class="row text-center">
            
           
         
            <div class="col-md-12">
                <br><br>
                <button class="btn btn-primary" (click)="getDetails()">Submit</button>
            </div>
        </div>
    </form>

</div>
