<app-user-nav></app-user-nav>
<div class="container">
    <h3 class="text-center">Resources Available</h3>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Volunteer Name</th>
            <th scope="col">Place</th>
            <th scope="col">Contact Details</th>
            <th scope="col">Resource Type</th>
            <th scope="col">Resource Name</th>
            <th scope="col">Resource Quantity</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of resources;index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{r.userdetails[0].name}}</td>
            <td>{{r.userdetails[0].place}}</td>
            <td>{{r.userdetails[0].phone}}<br>
            {{r.userdetails[0].email}}<br>


            </td>

            <td>{{r.resource_type}}</td>
            <td>{{r.resource_name}}</td>
            <td>{{r.resource_quantity}}</td>

           
          </tr>
         
        </tbody>
      </table>
</div>